nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 10px 20px;
  padding: 10px 20px;
}
nav li:hover {
  background-color: aqua;
}

nav li:hover > a {
  color: white;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

/* nav li a:hover {
  color: white;
} */

.dropdown {
  display: none;
  background-color: rgb(108, 205, 212);
  padding: 0;
}
/* .main-dropdown:hover > .dropdown { */
nav > ul > li:hover > ul {
  display: block;
  position: absolute;
}
